In [1]:
import sqlite3
import pandas as pd

In [46]:
conn = sqlite3.connect("db/db_checking.db")
c = conn.cursor()

In [3]:
c.execute('''create table if not exists users(
  user_id integer primary key,
  name varchar(30) null,
  password varchar(30) null,
  unique (name)
  
);''')

conn.commit()

In [12]:
to_insert = [("Adam2", 1), ("Tomek2", "chalka")]

for row in to_insert:
    c.execute('INSERT INTO users (name, password) VALUES(?, ?);', row)

IntegrityError: UNIQUE constraint failed: users.name

In [29]:
a = c.execute("select * from users")
a.fetchall()

[]

In [45]:
conn.close()

In [7]:
conn

In [27]:
query = ""
with open("db/schema.sql") as f:
    query = f.readlines()

In [47]:
c.executescript(''.join(query))

In [48]:
a = c.execute("select name from sqlite_master where type = 'table';")

In [49]:
a.fetchall()

[('users',),
 ('jobs',),
 ('requests',),
 ('distances',),
 ('results',),
 ('cities',),
 ('execution_logs',),
 ('working_days',)]

In [62]:
to_insert = pd.DataFrame({"city_name": ["Krakow", "Warsaw"]})

In [63]:
to_insert.to_sql("cities", conn, if_exists = "append", index=False)

In [64]:
a = c.execute("select * from cities")
a.fetchall()

[(None, 'Wroclaw'),
 (None, 'Krakow'),
 (None, 'Warsaw'),
 (None, 'Krakow'),
 (None, 'Warsaw'),
 (None, 'Krakow'),
 (None, 'Warsaw')]

In [65]:
c.execute('INSERT INTO cities (city_name) VALUES(?);', ("Wroclaw",))

In [ ]:
class dbSetup:
    # The job is to create a database with proper structure and initial values
    def __init__(self, file_name = "db/main.db", ):
        self.file_name = file_name
        
    def setup_structure(self):
        self.conn = sqlite3.connect(self.file_name)
        cur = self.conn.cursor()