In [18]:
import sqlite3
import pandas as pd
import os
from setup_db import DB, setup_db

In [16]:
def setup_db():
    db = DB("db/test_db.db")
    db.run_setup_scripts()
    db.insert_initial_data()
    return db

In [17]:
db = setup_db()

In [19]:
db = DB("db/test_db.db")
db.setup_scripts_paths

['db/scripts/create_tables.sql',
 'db/scripts/create_views.sql',
 'db/scripts/create_triggers.sql']

In [3]:
db.run_setup_scripts()

In [4]:
db.show_tables()

[('users',),
 ('jobs',),
 ('requests',),
 ('distances',),
 ('results',),
 ('cities',),
 ('execution_logs',),
 ('working_days',)]

In [5]:
db._load_initial_data_from_file()
# db._initial_data

In [6]:
db.insert_initial_data()

In [7]:
db.select_all("cities")

   city_id city_name
0     1915    Kraków
1     1815    Gdańsk
2     7588      Łódź

In [8]:
db.select_all("users")

   user_id   name password  admin  active         time_created
0        1   adam    pass1      0       1  2019-10-10 00:00:00
1        2    tom    pass2      0       1  2019-10-10 00:00:00
2        3  admin    admin      1       1  2019-10-10 00:00:00

In [9]:
db.select_all("jobs")

   job_id  user_created  active         time_created last_run  job_name
0       1             1       1  2019-10-10 00:00:00     None  test_job

In [10]:
db.select_all("requests")

   request_id  job_id  start_city  end_city                 date
0           1       1        1915      1815  2019-12-12 00:00:00
1           2       1        1915      7588  2019-12-12 00:00:00
2           3       1        1915      7588  2019-12-13 00:00:00

In [14]:
db.close()

In [21]:
db.remove_db_file()

FileNotFoundError: [WinError 2] Nie można odnaleźć określonego pliku: 'db/test_db.db'