In [1]:
import sqlite3
import pandas as pd
import os
from setup_db import DB, setup_db

In [16]:
#pip install numpy

In [17]:
#pip install sqlite3

In [18]:
#pip install beautifulsoup4

In [19]:
#pip install requests

In [5]:
def setup_db():
    db = DB("db/test_db.db")
    db.run_setup_scripts()
    db.insert_initial_data()
    return db

In [6]:
db = setup_db()

IntegrityError: UNIQUE constraint failed: users.name

In [0]:
db = DB("db/test_db.db")
db.setup_scripts_paths

In [0]:
db.run_setup_scripts()

In [0]:
db.show_tables()

In [0]:
db._load_initial_data_from_file()
# db._initial_data

In [0]:
db.insert_initial_data()

In [0]:
db.select_all("cities")

In [0]:
db.select_all("users")

In [0]:
db.select_all("jobs")

In [0]:
db.select_all("requests")

In [0]:
db.close()

In [0]:
db.remove_db_file()

In [1]:
message=""

In [3]:
message!=""

False

In [4]:
import sqlite3

def getUserJobs(loginName):
    conn = sqlite3.connect('test_db.db')
    c = conn.cursor()
    c.execute("""SELECT j.job_name, j.time_created, j.last_run 
                    FROM jobs j
                    JOIN users u ON j.user_created = u.user_id 
                    AND u.name = '"""+loginName+"'")
    listOfResults=c.fetchall()
    return listOfResults

In [16]:
r=getUserJobs("adam")
print(r)

[('test_job', '10.10.2019', None), ('test2_job', '11.10.2019', None)]

In [24]:
iter=0
for i in r:
    iter=iter+1
    idik="idNo"+str(iter)
    print(idik)
    for j in i:
        print(j)
   # print(i)

idNo1
test_job
10.10.2019
None
idNo2
test2_job
11.10.2019
None

In [27]:
r[0][1]

'10.10.2019'

In [2]:
import database_methods as dbm

r = dbm.getUserJobs('adam')
print(r)

[(1, 'test_job', '10.10.2019', None), (2, 'test2_job', '11.10.2019', None)]

In [ ]:
<input type="checkbox" class="custom-control-input" id={{rowNumerId}}>

In [4]:
import database_methods as dbm

r = dbm.getResultForJobId('2')

for row in r:
    print(row)

[('Kraków', 'Gdańsk', '2.01.2020', 129.99, '2019-12-30 20:00:00', 0.8666), ('Kraków', 'Gdańsk', '2.01.2020', 95.98, '2019-12-30 20:01:40', 0.6398666666666667), ('Kraków', 'Gdańsk', '2.01.2020', 'NULL', '2019-12-30 20:03:20', 0), ('Kraków', 'Gdańsk', '2.01.2020', 105.98, '2019-12-30 20:05:00', 0.7065333333333333), ('Kraków', 'Gdańsk', '2.01.2020', 128.0, '2019-12-30 20:06:40', 0.8533333333333334), ('Kraków', 'Gdańsk', '2.01.2020', 119.98, '2019-12-30 20:08:20', 0.7998666666666667)]
('Kraków', 'Gdańsk', '2.01.2020', 129.99, '2019-12-30 20:00:00', 0.8666)
('Kraków', 'Gdańsk', '2.01.2020', 95.98, '2019-12-30 20:01:40', 0.6398666666666667)
('Kraków', 'Gdańsk', '2.01.2020', 'NULL', '2019-12-30 20:03:20', 0)
('Kraków', 'Gdańsk', '2.01.2020', 105.98, '2019-12-30 20:05:00', 0.7065333333333333)
('Kraków', 'Gdańsk', '2.01.2020', 128.0, '2019-12-30 20:06:40', 0.8533333333333334)
('Kraków', 'Gdańsk', '2.01.2020', 119.98, '2019-12-30 20:08:20', 0.7998666666666667)

In [ ]:
SELECT arr.city_name, dep.city_name, r.date, res.price, res.time_created, res.price/dis.distance
FROM requests r
JOIN results res ON r.request_id = res.request_id AND r.job_id = 1
JOIN cities arr ON r.start_city = arr.city_id
JOIN cities dep ON r.end_city = dep.city_id
JOIN distances dis ON arr.city_id = dis.end_city AND dep.city_id = dis.start_city