In [1]:
import sqlite3
import pandas as pd

In [3]:
conn = sqlite3.connect("db/db_checking.db")
c = conn.cursor()

In [4]:
c.execute('''create table if not exists users(
  user_id integer primary key,
  name varchar(30) null,
  password varchar(30) null,
  unique (name)
  
);''')

conn.commit()

In [5]:
to_insert = [("Adam2", 1), ("Tomek2", "chalka")]

for row in to_insert:
    c.execute('INSERT INTO users (name, password) VALUES(?, ?);', row)

In [10]:
a = c.execute("select * from users")
a.fetchall()

[(None, 'Adam2', '1', 0, 1, None), (None, 'Tomek2', 'chalka', 0, 1, None)]

In [12]:
[i[0] for i in c.description]

['user_id', 'name', 'password', 'admin', 'active', 'time_created']

In [45]:
conn.close()

In [7]:
conn

In [27]:
with open("db/scripts/create_tables.sql") as f:
    query = f.readlines()

In [47]:
c.executescript(''.join(query))

In [48]:
a = c.execute("select name from sqlite_master where type = 'table';")

In [9]:
a.fetchall()

[]

In [62]:
to_insert = pd.DataFrame({"city_name": ["Krakow", "Warsaw"]})

In [63]:
to_insert.to_sql("cities", conn, if_exists = "append", index=False)

In [2]:
a = c.execute("select * from cities")
a.fetchall()

NameError: name 'c' is not defined

In [65]:
c.execute('INSERT INTO cities (city_name) VALUES(?);', ("Wroclaw",))

In [1]:
#pip install bottle-cork

Collecting bottle-cork
  Downloading https://files.pythonhosted.org/packages/3d/83/7b325c87ada9b8ccc54b7d8aebc1484e85875936f56676896676ba7d16b8/bottle-cork-0.12.0.tar.gz (108kB)
Requirement already satisfied: Bottle in c:\users\maria\anaconda3\lib\site-packages (from bottle-cork) (0.12.18)
Requirement already satisfied: pycrypto in c:\users\maria\anaconda3\lib\site-packages (from bottle-cork) (2.6.1)
Building wheels for collected packages: bottle-cork
  Building wheel for bottle-cork (setup.py): started
  Building wheel for bottle-cork (setup.py): finished with status 'done'
  Stored in directory: C:\Users\maria\AppData\Local\pip\Cache\wheels\82\2f\e6\4690b082445da931ce39c597bca128bb1ff02d815a61d46cc2
Successfully built bottle-cork
Installing collected packages: bottle-cork
Successfully installed bottle-cork-0.12.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
from cork import Cork
import logging