In [1]:
import sqlite3
import pandas as pd
import os
from setup_db import DB, setup_db

In [16]:
#pip install numpy

In [17]:
#pip install sqlite3

In [18]:
#pip install beautifulsoup4

In [19]:
#pip install requests

In [5]:
def setup_db():
    db = DB("db/test_db.db")
    db.run_setup_scripts()
    db.insert_initial_data()
    return db

In [6]:
db = setup_db()

IntegrityError: UNIQUE constraint failed: users.name

In [0]:
db = DB("db/test_db.db")
db.setup_scripts_paths

In [0]:
db.run_setup_scripts()

In [0]:
db.show_tables()

In [0]:
db._load_initial_data_from_file()
# db._initial_data

In [0]:
db.insert_initial_data()

In [0]:
db.select_all("cities")

In [0]:
db.select_all("users")

In [0]:
db.select_all("jobs")

In [0]:
db.select_all("requests")

In [0]:
db.close()

In [0]:
db.remove_db_file()

In [1]:
import sqlite3

def getCityNames():
    conn = sqlite3.connect('test_db.db')
    c = conn.cursor()  
    c.execute("SELECT city_id, city_name FROM cities")

    listOfResults=c.fetchall()
    conn.close()
    return listOfResults

In [2]:
getCity = getCityNames()
print(getCity)

[(1915, 'Kraków'), (1815, 'Gdańsk'), (7588, 'Łódź')]

In [3]:
def getUserJobsNames(loginName):
    conn = sqlite3.connect('test_db.db')
    c = conn.cursor()
    c.execute("""SELECT j.job_id, j.job_name 
                    FROM jobs j
                    JOIN users u ON j.user_created = u.user_id 
                    AND u.name = '"""+loginName+"'")
    listOfResults=c.fetchall()
    conn.close()
    return listOfResults

getJobs = getUserJobsNames('adam')
print(getJobs)

[(1, 'test_job'), (2, 'test2_job')]

In [18]:
datTest = '2020-01-21'

import datetime


date_time_obj = datetime.datetime.strptime(datTest, '%Y-%m-%d')

print('Date:', date_time_obj.date())
print('Time:', date_time_obj.time())
print('Date-time:', date_time_obj)

curTime = datetime.datetime.now()
print('Date now:', curTime.date())

print ('Current date/time: {}'.format(datetime.datetime.now()))

print(datetime.datetime.strptime(datTest, '%Y-%m-%d').date())

Date: 2020-01-21
Time: 00:00:00
Date-time: 2020-01-21 00:00:00
Date now: 2020-01-02
Current date/time: 2020-01-02 16:44:58.162080
<class 'datetime.date'>

In [16]:
curTimeDateStr = str(curTime.date())
print(curTimeDateStr)
type(curTimeDateStr)

2020-01-02

str

In [34]:
datFirstStr = '2020-01-21'
datFirst = datetime.datetime.strptime(datFirstStr, '%Y-%m-%d').date()

datSecondStr = '2020-01-28'
datSecond = datetime.datetime.strptime(datSecondStr, '%Y-%m-%d').date()

In [35]:
datFirst <= datSecond

True

In [38]:
import pandas as pd

date1 = '2011-05-03'
date2 = '2011-05-10'
mydates = pd.date_range(date1, date2).tolist()
print(mydates)

[Timestamp('2011-05-03 00:00:00', freq='D'), Timestamp('2011-05-04 00:00:00', freq='D'), Timestamp('2011-05-05 00:00:00', freq='D'), Timestamp('2011-05-06 00:00:00', freq='D'), Timestamp('2011-05-07 00:00:00', freq='D'), Timestamp('2011-05-08 00:00:00', freq='D'), Timestamp('2011-05-09 00:00:00', freq='D'), Timestamp('2011-05-10 00:00:00', freq='D')]

In [48]:
import datetime

date1='2020-01-29'
date2='2020-02-02'

start = datetime.datetime.strptime(date1, '%Y-%m-%d')
end = datetime.datetime.strptime(date2, '%Y-%m-%d')
step = datetime.timedelta(days=1)

timeList=[]

while start <= end:
    timeList.append(str(start.date()))
    start += step

for i in range(len(timeList)):
    print(timeList[i])

2020-01-29
2020-01-30
2020-01-31
2020-02-01
2020-02-02

In [53]:
curTime = datetime.datetime.now()
curDayStr = str(curTime.date())
print(curTime)
print(curDayStr)

2020-01-02 19:32:52.876399
2020-01-02

In [57]:
import time
a=time.strftime("%Y-%m-%d %H:%M:%S")
print(a)
type(a)

2020-01-02 19:38:17

str

In [63]:
loginName='adam'
conn = sqlite3.connect('test_db.db')
c = conn.cursor()  
c.execute("SELECT user_id FROM users WHERE name='"+loginName+"'")
idList=c.fetchone()
conn.close()

print(idList[0])
type(idList[0])

1

int

In [68]:
conn = sqlite3.connect('test_db.db')

userId=1
time_created = time.strftime("%Y-%m-%d %H:%M:%S")
job_name = "trip to Warsaw"


c = conn.cursor()  
c.execute("""INSERT INTO jobs (user_created, time_created, job_name)
            VALUES ('"""+str(userId)+"', '"+time_created+"', '"+job_name+"')")

#can omit the id - autoincrement
#INSERT INTO table (column1,column2 ,..)
#VALUES( value1,    value2 ,...);
conn.commit()
conn.close()

In [77]:
jobId=3
start=7588
end=1915

    
#date management
 
conn = sqlite3.connect('test_db.db')
c = conn.cursor()  

for i in range(len(timeList)):
   c.execute("""INSERT INTO requests (job_id, start_city, end_city, date)
                VALUES (' """+str(jobId)+" ', '"+str(start)+"', '"+str(end)+"', date('"+timeList[i]+"'))")
    
conn.commit()
conn.close()

In [70]:

startDate='2020-01-20'
endDate='2020-02-01'


start = datetime.datetime.strptime(startDate, '%Y-%m-%d')
end = datetime.datetime.strptime(endDate, '%Y-%m-%d')
step = datetime.timedelta(days=1)

#getting a list with possible dates for a loop
timeList=[]
while start <= end:
    timeList.append(str(start.date()))
    start += step

print(timeList)

['2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01']

In [71]:
conn = sqlite3.connect('test_db.db')
c = conn.cursor()  
c.execute("SELECT job_id FROM jobs WHERE job_name='"+"trip to Cracow"+"'")
jobIdList=c.fetchone()
conn.close()
jobId=jobIdList[0]

In [74]:
timeList[2]

'2020-01-22'

In [80]:
def getJobIdByJobName(jobName):
    conn = sqlite3.connect('test_db.db')
    c = conn.cursor()  
    c.execute("SELECT job_id FROM jobs WHERE job_name='"+jobName+"'")
    jobIdList=c.fetchone()
    conn.close()
    jobId=jobIdList[0]
    return jobId

In [81]:
getJobIdByJobName("trip to Cracow")

3

In [84]:
import xlsxwriter
workbook = xlsxwriter.Workbook('Expenses01.xlsx')
type(workbook)
worksheet = workbook.add_worksheet()
worksheet.write(row, col, some_data)


# Some sample data.
data = ('Foo', 'Bar', 'Baz')

# Write the data to a sequence of cells.
worksheet.write_row('A1', data)

xlsxwriter.workbook.Workbook

In [90]:
listWork = [('Gdańsk', 'Kraków', '2020-01-02', '07:05', 129.99, 0.8666, '2019-12-30 20:00:00'), ('Gdańsk', 'Kraków', '2020-01-02', '11:50',
95.98, 0.6399, '2019-12-30 20:01:40'), ('Gdańsk', 'Kraków', '2020-01-02', '12:00', 'NULL', 0.0, '2019-12-30 20:03:20'), ('Gdańsk', 'Kraków', '2020-01-02', '16:40', 105.98, 0.7065, '2019-12-30 20:05:00'), ('Gdańsk', 'Kraków', '2020-01-02', '17:50', 128.0, 0.8533, '2019-12-30 20:06:40'), ('Gdańsk', 'Kraków', '2020-01-02', '21:10', 119.98, 0.7999, '2019-12-30 20:08:20')]

In [102]:
len(listWork)
for i in range(len(listWork)):
    print(i)
    print(listWork[i])

0
('Gdańsk', 'Kraków', '2020-01-02', '07:05', 129.99, 0.8666, '2019-12-30 20:00:00')
1
('Gdańsk', 'Kraków', '2020-01-02', '11:50', 95.98, 0.6399, '2019-12-30 20:01:40')
2
('Gdańsk', 'Kraków', '2020-01-02', '12:00', 'NULL', 0.0, '2019-12-30 20:03:20')
3
('Gdańsk', 'Kraków', '2020-01-02', '16:40', 105.98, 0.7065, '2019-12-30 20:05:00')
4
('Gdańsk', 'Kraków', '2020-01-02', '17:50', 128.0, 0.8533, '2019-12-30 20:06:40')
5
('Gdańsk', 'Kraków', '2020-01-02', '21:10', 119.98, 0.7999, '2019-12-30 20:08:20')

In [108]:
header = ('Departure city', 'Arrival city', 'Departure date', 
        'Departure time', 'Price', 'Price per km', 'Date obtained')

workbook = xlsxwriter.Workbook('./resultFile/result.xlsx')

worksheet = workbook.add_worksheet()
worksheet.write_row('A1', header)

resultList=listWork

for i in range(len(resultList)):
    row=i+1
    worksheet.write_row(row, 0, resultList[i])  
workbook.close()

TypeError: write_row() missing 1 required positional argument: 'data'

tuple